.feedback {
	padding: 25px 0;

	@media all and (min-width: $lg) {
		padding: 50px 0;
	}

	.container {
		max-width: 1400px;
	}

	h2 {
		margin-bottom: 30px;
	}

	&-subtitle {
		font-family: $ff;
		font-size: 16px;
		margin-bottom: 40px;
	}

	&-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;

		@media all and (min-width: $lg) {
			flex-direction: row;
		}
	}

	&-form {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		margin-bottom: 30px;
		
		@media all and (min-width: $lg) {
			width: calc( 40% - 40px );
			margin-right: 40px;
			margin-bottom: 0;
		}
	}

	&-img {
		width: 100%;

		@media all and (min-width: $lg) {
			width: 60%;
		}
	}

	fieldset {
		width: 100%;
		border: 0;
		display: flex;
		flex-direction: column;
		margin-bottom: 50px;
		padding: 0;

		label {
			margin-bottom: 30px;
		}
	}

	input {
		width: 100%;
		border: 0;
		border-bottom: 1px solid $lighter;
		margin-bottom: 30px;
		font-family: $ff;
		font-size: 18px;
		padding-left: 20px;
		padding-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.button {
		width: 100%;
	}
}