.offer {
	padding: 150px 0;
	background-image: url( '../img/main-page/offer/offer.jpg');
	background-position: center;
	background-size: cover;
	position: relative;

	&::before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background: linear-gradient(to bottom, #333333e7 0% ,#424242e1 100% );
		z-index: 0;
	}

	h2 {
		color: $white;
		font-size: 48px;
	}

	&-subtext {
		color: $accent;
		font-size: 36px;
		margin-bottom: 50px;
	}

	&-wrapper {
		display: flex;
		align-items: center;
		position: relative;
		z-index: 1;
	}

	&-info {
		width: 60%;
	}

	.form-wrapper {
		width: 40%;
		border: 4px solid $white;
		padding: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&-list {
		&-item {
			font-size: 20px;
			color: $white;
			margin-bottom: 20px;
			padding-right: 10px;

			&::before {
				content: "—";
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.promo-form {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 320px;

	fieldset {
		width: 100%;
		display: flex;
		flex-direction: column;
		border: 0;

		label {
			font-family: $ff;
			margin-bottom: 10px;
			color: $white;
			font-size: 16px;
		}

		input {
			font-family: $ff;
			font-size: 18px;
			width: 100%;
			max-width: 320px;
			height: 48px;
			border: 0;
			border-radius: 5px;
			padding-left: 20px;
			margin-bottom: 20px;
		}
	}

	.form-title {
		color: $white;
		font-size: 22px;
		margin-bottom: 30px;
	}

	.personal {
		font-size: 10px;
		color: $lighter;
		margin-top: 15px;
		text-align: center;
	}
}