.footer {
	padding: 50px 0;
	background: $foot;

	&-wrapper {
		display: flex;
		justify-content: space-between;
	}

	&-logo {
		display: flex;
		flex-direction: column;
		transition: opacity ease $tr;
		cursor: pointer;

		&:hover {
			opacity: $op;
		}

		img {
			margin-bottom: 30px;
		}
	}

	&-about, &-info, &-feedback {
		display: flex;
		flex-direction: column;
		padding-top: 20px;
	}

	&-text, &-link {
		font-family: $ff;
		color: $white;
		font-size: 14px;
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&-link {
		transition: opacity ease $tr;

		&:hover {
			opacity: $op;
		}
	}

	&-phone {
		font-size: 20px;
		transition: color ease $tr;

		&:hover {
			color: $accent;
		}
	}
}